html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container-fluid {
    padding: 0px 0px 0px 0px;
    height: 100vh;
}

main {
    margin: 0px 16px 0px 16px;
}

.navbar {
    background-color: rgb(140, 70, 0);
}

#error-space {
    color: red;
}

#map {
    width: 100%;
}