html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container-fluid {
    padding: 0px 0px 0px 0px;
    height: 100vh;
}

main {
    margin: 0px 16px 0px 16px;
}

.navbar {
    background-color: rgb(140, 70, 0);
}

#error-space {
    color: red;
}

.login {
    margin: 0 auto;
}

#info-detail {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.point-form {
    min-width: 210px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.point-form h1 {
    text-align: center;
    font-size: 25px;
}

#map-area {
    width: 100%;
    max-width: 400px;
    
    overflow: hidden;
}

.map-add {
    height: 0;
    padding-bottom: 100%;
}

#map {
    width: 100%;
}

#detail {
    width: 100%;
    height: 165px;
}